@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap");
body {
    font-family: "PT Sans Narrow", sans-serif;
}

.container {
    border: 1px solid;
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}
